################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/Bot_django2.pyproj
/.vs/VSWorkspaceState.json
/.vs/Bot_django2/v15/.suo
