{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Chatbot</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bot/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'bot/cover.css' %}" rel="stylesheet" href="styles.css?version=1">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  {% if user.is_authenticated %}
  <body style="background-color: #1f263b;">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{{ request.user.username }}</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Accueil</a></li>
                  <li><a href="{% url 'logOut' %}">Deconnexion</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Apprendre le français</h1>
            <p class="lead">Venez discuter avec Dean pour apprendre le Français</p>
            <br>
            <br>
              <div>
                <a href="{% url 'view_discussion' 'intro' %}" class="btn btn-lg btn-default" class="lead">Commencer</a>
              </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Projet Option OSY</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    {% else %}
    <h4><a href="{% url 'index' %}">Please sign in</a></h4>
    {% endif %}

  </body>
</html>
