body {
    background-color: #333;
}

.message-name {
  margin-left: 10px;
  display: inline-block;
}
.message-candidate {
  background: #DCDCDC;
  padding: 40px;
  max-width: 1000px;
  margin-bottom: 1px;
}

.messaging {
  max-width: 600px;
  margin-top: 10px;
}

.message-text {
  margin-top: 8px;
  margin-left: 10px;
}

.message-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
  display: inline-block;
}

.message-name {
  margin-left: 10px;
  display: inline-block;
}
